# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# Logs
*.log

# Reportes generados
library_report*.html

# Excel de ejemplo/testing
sample_libraries.xlsx

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
